* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: rgb(217, 227, 255);
}

.game-container {
  width: 800px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 20px;
}

.game-container > * {
  box-shadow: 8px 8px 30px rgb(134, 157, 211);
}

.play-area-container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
}
.play-area-container .text-container {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.play-area-container .text-container h2 {
  color: rgb(60, 109, 222);
  font-size: 2em;
}
.play-area-container .text-container h3 {
  color: rgb(82, 82, 82);
  font-size: 1.4em;
}
.play-area-container .selections-container {
  display: grid;
  place-content: center;
}
.play-area-container .selections-container .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 20px;
}
.play-area-container .selections-container .grid-container .option-button {
  background-color: rgb(153, 153, 219);
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(72, 49, 66, 0.4), inset 4px 4px 8px rgba(255, 227, 253, 0.48), inset -4px -4px 8px rgba(0, 0, 0, 0.256);
  border-radius: 8px;
  transition: 0.4s scale cubic-bezier(0.28, 1.95, 0.29, 0.65), 0.4s opacity ease-in-out;
  display: grid;
  place-content: center;
}
.play-area-container .selections-container .grid-container .option-button:hover {
  z-index: 1;
  scale: 1.3;
}
.play-area-container .selections-container .grid-container .option-button.hide {
  scale: 0.5;
  opacity: 0;
}

.dashboard-container {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.tracking-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tracking-container span {
  color: rgb(60, 109, 222);
}
.tracking-container .timer-text {
  font-size: 1.3em;
  color: limegreen;
}

.heart-container {
  display: flex;
  gap: 5px;
  height: 25px;
}

.heart {
  width: 18px;
  height: 18px;
}

.dynamic-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.195);
}
.dynamic-modal .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}
.dynamic-modal .container h4 {
  color: rgb(60, 109, 222);
  font-size: 1.8em;
}
.dynamic-modal .container .play-button {
  height: 50px;
  width: 150px;
  background-color: rgb(112, 149, 236);
  border-radius: 5px;
  display: grid;
  place-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  font-size: 1.2em;
}
.dynamic-modal .container .play-button:hover {
  scale: 1.1;
}
.dynamic-modal::-webkit-backdrop {
  background-color: rgba(130, 130, 130, 0.358);
  opacity: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  filter: saturate(0);
}
.dynamic-modal::backdrop {
  background-color: rgba(130, 130, 130, 0.358);
  opacity: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  filter: saturate(0);
}/*# sourceMappingURL=main.css.map */